.list-header {
  border-bottom: 5px solid #5386A2;
  border-radius: 5px;
  left: 10px;
  position: relative;
  width: min-content;
}

#image-description {
  align-items: flex-start;
  display: flex;
  left: 10px;
  position:relative;
}

#image-container {
  width: 50%;
}

.recipe-image {
  max-height: 200px;
  object-fit: cover;
  width: 100%;
}

#description {
  font-size: 20px;
  margin: 0px 15px 5px 10px;
  text-align: justify;
}

#add-to-list-buttons {
  display: flex;
  padding-left: 10px;
}

.add-to-planner-btn {
  left: 73%;
}

.add-to-cookbook-btn {
  left: 91%;
}

#recipe-info {
  background-color: #ffffff;
  border-color: #195e83ab;
  border-radius: 10px;
  border-style: solid;
}

#recipe-name {
  font-size: 40px;
  margin: 30px 0 15px;
  position: relative;
  left: 10px;
}