#header {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: space-between;
  margin: 5px 0;
  min-width: 335px;
}

.modal {
  background-color: rgba(0,0,0,0.7); 
  display: none; 
  height: 100%; 
  left: 0;
  overflow: auto; 
  position: fixed; 
  top: 0;
  width: 100%; 
  z-index: 1; 
}

.recipe-form {
  background-color: #B6E6F9;
  border-radius: 25px;
  margin: 0 auto;
  max-width: 500px;
  padding: 1px 30px 30px;
  position: relative;
  top: 45%;
  transform: translateY(-40%);
  width: 60%;
}

textarea {
  width: 100%;
}

select {
  min-height: 25px;
  min-width: 80px;
}

#buttons {
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

#note {
  margin: 2px 0 0;
}

.modal-btn {
  border-radius: 5px;
  border-width: thin;
  margin: 0 20px;
}

/* Add Animation - Zoom in the Modal */
.recipe-form {
  -webkit-animation-duration: 0.6s;
  -webkit-animation-name: zoom;
  animation-duration: 0.6s;
  animation-name: zoom;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close {
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  right: 35px;
  top: 15px;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  cursor: pointer;
  text-decoration: none;
}