
#top-bar {
  background-color: #195e83;
  margin: auto;
  max-width: 1000px;
  min-width: 350px;
  padding: 0 20px;
  width: 80%;
}

#color-bar {
  align-items: center;
  display: flex;
  padding: 0 8px;
}

#logo {
  align-self: center;
  color: white;
  font-size: 20px;
  font-family: 'Pacifico', cursive;
}

#search-bar {
  align-self: center;
  display: flex;
  flex-grow: 1;
  padding: 0 5px 0 10px;
}

#top-bar input {
  border-color: rgb(0, 0, 0, 0.25);
  border-width: 1px;
  box-sizing: border-box;
  font-size: large;
}

#top-bar input:focus {
  outline: none;
}

#sign-in-box {
  background-color: white;
  margin-left: auto;
}

#search-box-flex-container {
  flex-grow: 1;
}

#search-box {
  border-radius: 10px 0 0 10px;
  border-width: 1px;
  height: 36px;
  width: 100%;
}

#search-button {
  background: url(../components/icons/search-24px.svg) no-repeat;
  background-color: white;
  background-position: center;
  border-left: 1px;
  border-radius: 0 10px 10px 0;
  height: 36px;
  width: 42px;
}

#search-button:hover {
  background-color: #5dbcd2;
  cursor: pointer;
}

#home-button {
  background: url(../components/icons/home-24px.svg) no-repeat;
  background-color: white;
  background-position: center;
  border-radius: 10px;
  height: 40px;
  margin-right: 5px;
  /* Icon wouldn't center unless I made it 41px. */
  width: 41px;
}

#home-button:hover {
  background-color: #5dbcd2;
  cursor: pointer;
}