body {
  margin: 0;
}

#content {
  margin: 0 auto;
  max-width: 1000px;
  min-width: 300px;
  padding: 0 20px 20px;
  width: 80%;
}

.center {
  text-align: center;
}

#greeting-container {
  margin-top: 20px;
}

.recipe-card {
  background-color: #F6F7F7;
  border: groove;
  margin: 0.5vw;
  /* border-radius: 25px; */
  /* TODO: figure out how to round the recipe card
  while keeping the picture pretty */
  width: 24vw;
}

.image-div {
  position: relative;
}
.recipe-card-image {
  width: 24vw;
  height: 24vw;
  overflow: hidden;
  object-fit: cover;
  /* border-radius: 10px; */
}
@media screen and (min-width: 1250px) {
  .recipe-card {
    width: 300px;
    margin: 11px;
  }
  .recipe-card-image {
    width: 300px;
    height: 300px;
  }
}
.card-button {
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  border-color: white;
  border-radius: 5px;
  border-style: solid;
  border-width: 0.5px;  
  color: white;
  cursor: pointer;
  padding: 5px;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
}
.card-button:hover {
  background-color: black;
}
.icon {
  font-size: 20px;
}
.material-icons {
  font-size: 18px!important;
}
.left {
  left: 10%;
}
.more-left {
  left: 18%;
}
.right {
  left: 90%;
}
.more-right {
  left: 79%;
}
.top {
  top: 10%;
}
.bottom {
  top: 86%;
}
.text-div{
  padding: 0 10px;
}
.recipe-card-name {
  font-weight: bold;
}