body {
  margin: 0;
}

#content {
  margin: 0 auto;
  max-width: 1000px;
  min-width: 300px;
  padding: 0 20px 20px;
  width: 80%;
}

.center {
  text-align: center;
}

button {
  border-radius: 5px;
  border-width: thin;
  padding: 5px 10px;
}

#greeting-container {
  margin-top: 20px;
}
