#sign-in-box {
  align-self: center;
  border: 1px solid grey;
  border-radius: 10px;
  display: flex;
  height: 50px;
  width: 186px;
}

#profile-photo-container {
  align-self: center;
  height: 46px;
  padding: 0 8px 0 4px;
  width: 46px;
}

#profile-photo {
  border-radius: 50%;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

#g-signin-container {
  align-self: center;
  height: 36px;
}

.dropdown {
  align-self: center;
  cursor: pointer;
  position: relative;
}

.dropdown-content {
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  display: none;
  min-width: 186px;
  position: absolute;
  top: 100%;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: grey;
  display: block;
  font-family: arial, helvetica, sans-serif;
  font-weight: bold;
  padding: 12px 16px;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}
